<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tüm Hakları Saklıdır | @DateTime.Now.Year</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Yazar Paneli <a href="https://github.com/mertaksu28" target="_blank">ASP.NET CORE 5</a></span>
    </div>
</footer>